
<div ng-class="{ active:menu.HeaderText = 'JOB HISTORY', active:menu.setMainMenuActive('job') } ">
    


<input type="text" class="form-control " ng-model="search" placeholder="ค้นหาการเข้างานที่ผ่านมาจาก คีย์เวิร์ดที่เกี่ยวข้อง เช่น 'AP' , 'CM' , 'ราชวินิต'" >
<br>  
<table class="table table-striped" ng-class="{ active:menu.setMainMenu(true) }">  
  <thead>  
  <tr class="active" > 
      
    <th width="5%" class="css-order text-center" ng-click="predicate = 'M_ID'; reverse=!reverse">#  
    <span class="caret" ng-show="predicate=='M_ID'"  ng-class="{'caret-reversed':predicate=='M_ID' && !reverse}"></span>  
    </th>     
    
    <th width="10%" class="css-order" ng-click="predicate = 'job_date'; reverse=!reverse">วันที่  
    <span class="caret" ng-show="predicate=='job_date'"  ng-class="{'caret-reversed':(predicate=='job_date' && !reverse)}"></span>  
    </th> 
    
    <th width="10%" class="css-order"  ng-click="predicate = ''; reverse=!reverse">โรงเรียน
    <span class="caret" ng-show="predicate==''"  ng-class="{'caret-reversed':predicate=='' && !reverse}"></span>  
    </th> 
    
    <th width="10%" class="css-order"  ng-click="predicate = ''; reverse=!reverse">ติดต่อครู
    <span class="caret" ng-show="predicate==''"  ng-class="{'caret-reversed':predicate=='' && !reverse}"></span>  
    </th> 
    
    <th width="5%" class="css-order"  ng-click="predicate = ''; reverse=!reverse">เบอร์-ครู
    <span class="caret" ng-show="predicate==''"  ng-class="{'caret-reversed':predicate=='' && !reverse}"></span>  
    </th> 
    
    <th width="10%" class="css-order" ng-click="predicate = 'job_project'; reverse=!reverse">โครงการ  
    <span class="caret" ng-show="predicate=='job_project'"  ng-class="{'caret-reversed':(predicate=='job_project' && !reverse)}"></span>  
    </th>
    
    <th width="5%" class="css-order" ng-click="predicate = 'job_type'; reverse=!reverse">ประเภท  
    <span class="caret" ng-show="predicate=='job_type'"  ng-class="{'caret-reversed':(predicate=='job_type' && !reverse)}"></span>  
    </th>
    
    <th width="10%" class="css-order" ng-click="predicate = 'job_dea'; reverse=!reverse">ตัวแทน  
    <span class="caret" ng-show="predicate=='job_dea'"  ng-class="{'caret-reversed':(predicate=='job_dea' && !reverse)}"></span>  
    </th>  
    
    <th width="5%" class="css-order" ng-click="predicate = 'job_dea'; reverse=!reverse">เบอร์ตัวแทน  
     
    </th> 

    <th width="7%" class="css-order" ng-click="predicate = 'job_stat'; reverse=!reverse">สถานะ  
     
    </th> 
    
    <th width="18%" class="css-order" ng-click="predicate = 'job_note'; reverse=!reverse">รายละเอียดการแก้ไข  
    <span class="caret" ng-show="predicate=='job_note'"  ng-class="{'caret-reversed':(predicate=='job_note' && !reverse)}"></span>  
    </th> 
    
  </tr>  
  </thead>  
  
  <!--       BODY     -->
  
  <tbody>  
  <tr ng-repeat="data in job | filter:search | orderBy:predicate:reverse ">
      
   <td class="text-center">{{$index+1}}</td>  
    

   <td><a href="#/job_viewId/{{data.job_id}}">{{data.job_date_add}}</a></td>  
    
   <td><a href="#/sch_view/{{data.job_smis}}">{{data.job_sch_name}}</a></td>
    
    <td>{{data.M_ID}}</td>
    
    <td>{{data.M_ID}}</td>
    
    <td>{{data.M_ID}}</td>  
    
    <td>{{data.job_type}}</td>  
    
    <td>{{data.job_dea}}</td>  
    
    <td>{{data.job_dea_tel}}</td>  
    
    <td>{{data.job_stat}}</td> 
    
    <td>{{data.job_note}}</td>  
     
   
  </tr>  
  </tbody>  
</table> 

    </div>
